/* Universal Styles */
html {
  font-size: 16px;
}

h1 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

section {
  padding: 2rem 1.5rem;
  display: flex;
  align-items: center;
}

.main_content {
  position: relative;
  padding-top: 4rem;
}

.media_container {
  width: 60%;
  height: 40%;
}

.shade {

}

.light {

}
/* Header */
header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: ;
}

header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

header .logo {
  display: flex;
  align-items: center;
}

header img {
  height: 2rem;
}

nav li {
  display: inline-block;
  padding-left: 1rem;
}
/* Start Here Section */
.start_here {
  margin-top: 2rem;
}

.banner_text {

}

.banner_text h1, h2 {
  padding-bottom: 1.5rem;
}

.button {
  background-color: black;
  color: white;
  padding: 0.5rem;
}

#banner {
  background-image: url("../images/banner.jpg");
  max-height: 40rem;

}
/* Features Section */

#info_main {
  background-image: url("../images/information-main.jpg");
  max-height: 10rem;
}
/* Start Learning Section */
/* Thesis Section */
/* Footer */
