/* Universal Styles */
html {
  font-size: 16px;
  font-family: "Cabin", sans-serif;
  color: #041E37;
}

h1 {
  font-size: 2rem;
  font-weight: bolder;
}

h2 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #041E37;
}

section {
  padding: 2rem 1.5rem;
  display: flex;
  align-items: center;
}

aside {
  max-width: 40%;
}

.main_content {
  position: relative;
  padding-top: 2rem;
}

.media_container {
  width: 60%;
}

.media_container img {
  display: block;
  max-height: 35rem;
  width: 100%;
}

.shade {
 background-color: #728CA6;
}

.light {
background-color: white;
}

/* Header */
header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: white;
}

header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

header .logo {
  display: flex;
  align-items: center;
}

header img {
  height: 2rem;
}

nav li {
  display: inline-block;
  padding-left: 1rem;
}

.highlight {
  color: #728CA6;
}
/* Start Here Section */
.start_here {
  margin-top: 2rem;
}

.banner_text {
  margin: 1.5rem;
}

.banner_text h1, h2 {
  padding-bottom: 1.5rem;
}

.button {
  display: block;
  background-color: #041E37;
  margin-left: 0;
  margin-right: 0;
  padding: 0.5rem 0 0.5rem 0;
  text-align: center;
}

.button a {
  color: white;
}
/* Features Section */
aside {
  width: 40%;
  border-left: 1px solid #728CA6;
}

.supporting {
  width: 60%;
}

.supporting h2 {
  padding-top: 2rem;
}

.supporting p {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.feature_container {
  display: flex;
  padding: 1rem;
  align-items: center;
  border-bottom: 1px solid #728CA6;
}

 .feature_container img {
   width: 35%;
   height: auto;
 }
 
 .feature_text {
  padding-left: 1rem;
}

 .feature_text h3 {
   padding-bottom: 0.5rem;
   font-size: 1.5rem;
 }

 .feature_text span {
   padding-bottom: 0.5rem;
   line-height: 1.5rem;
 }

 .feature_text a {
   color: #4A6B8A;
 }
/* Start Learning Section */
.courses {
  display: flex;
  flex-flow: row wrap;
}

.course_card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.course_listing {
  background-color: white;
}

#software {
  background-image: url("../images/course-software.jpg");
  background-size: contain;
  width: 20rem;
  height: auto;
}

#computer_art{
  background-image: url("../images/course-computer-art.jpg");
  background-size: contain;
}

#design{
  background-image: url("../images/course-design.jpg");
  background-size: contain;
}

#data {
  background-image: url("../images/course-data.jpg");
  background-size: contain;
}

#business {
  background-image: url("../images/course-business.jpg");
  background-size: contain;
}

#marketing {
  background-image: url("../images/course-marketing.jpg");
  background-size: contain;
}
/* Thesis Section */
/* Footer */
footer {
  padding: 1rem 1.5rem 2rem 1.5rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #728CA6;
}
